.sr-only{
  background-color: yellow;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  /* top: -9999px; */
  /* inset-block-start: -9999px; */
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}