@import url(/style/theme.css);
 
/* 기본 글꼴 */
:root{
  --base-font-family: "SUIT Variable", sans-serif; 
}

body{
  font-family: var(--base-font-family);
  
}

/* 로그인 */
.login{
  width: 500px;
  inline-size: 500px;

  --box-start-color: var(--orange-100);
  --box-end-color: var(--orange-200);
  --box-shadow-color: var(--gray-700);


  background-image: radial-gradient(circle at right top, var(--box-start-color), var(--box-end-color));
  border-radius: 5px;
  padding: 12px;
  box-shadow: 5px 5px 0 0 var(--box-shadow-color);

  
}

.login-title{
  --color: var(--yellow);

  color: var(--color);
  margin: 0;
  font-size: 0.9375rem;
}

.login-form{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;

  fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
  }

  div{
    margin-bottom: 5px;
  }

  lable{
    background: yellow;
    display: inline-block;
    width: 4em;
    inline-size: 4em;
  }

  input{
    width: ;
     border: ;
  }
}


.login-button{
  border: 0;
  padding: 16px 10px;
  background-color: var(--orange-200);
  position: absolute;
  top: 0;
  right: 0;


}


.member-sign{
  background-color: #fff;
  margin: 0;
  list-style: none;
  padding-left:  0;
  border-radius: 5px 5px 0 0;
  

}